DATABASE_URL="postgres://martin@localhost:5432/punchclock"
LANG=en_US.UTF-8
RACK_ENV=development

PARSE_PROD_APP_ID=xx
PARSE_PROD_API_KEY=xxx
PARSE_DEV_APP_ID=xxx
PARSE_DEV_API_KEY=xxx

AUTH_USER=xxx
AUTH_PASSWORD=xxx

SLACK_TOKEN=xxx
SLACK_URL=https://xxx.slack.com

RSS_AUTHOR=xxx
RSS_ABOUT="http://xxx.herokuapp.com"
RSS_LINK="http://xxx.herokuapp.com"

TZ="America/New_York"
